.img {
	position: absolute;
	width: 30rem;
	height: 30rem;
	left: 40rem;
	top: 5rem;
	border: 1rem solid #267373;
	transition: all ease-in-out 200ms;
	animation: img-appear ease-in-out 1s forwards;
	&:hover {
		transform: scale(1.03);
	}
}

@keyframes img-appear {
	0% { opacity: 0; }
	100% { opacity: 1; }
}