.header {
	margin: 2rem 4rem;
	width: fit-content;
	.title {
		font-size: 4rem;
		font-weight: 1000;
		margin: 0%;
		color: #045159;
		text-shadow: none;
		animation: text-move 1s ease-in-out forwards;
	}
	
	.description {
		color: white;
		line-height: 1.6rem;
		margin-bottom: 5%;
		animation: description-appear 1s ease-in-out forwards;
		.link {
			color: #6CD9C5;
		}
	}
}

.button {
	a {
		text-shadow: none;
		text-decoration: none;
		background-color: #6CD9C5;
		padding: 2%;
		color: #045159;
		animation: button-appear 1s ease-in-out forwards;
		transition: all ease-in-out 200ms;
		border-radius: 15px;
		&:hover{
			box-shadow: 3px 3px 5px black;
			background-color: #045159;
			color: #6CD9C5;
			border-radius: 0px;
		}
	}
}

.particles {
	animation: button-appear 4s ease-in-out forwards;
}

@keyframes description-appear {
	0% {
		opacity: 0;
		text-shadow: none;
	}
	100% {
		opacity: 1;
		text-shadow: 3px 3px 5px black;
	}
}

@keyframes text-move {
	0% {
		color: #045159;
		text-shadow: none;
	}
	20% {
		text-shadow: none;
		color: #045159;
	}
	70% {
		text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
	}
	100% {
		transform: translate(0, 0);
		text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
		color: #6CD9C5;
	}
}

@keyframes button-appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

